body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.fa-solid {
    color: var(--main-color);
}
/* header */
/* navigation */
nav {
    display: flex;
    justify-content: space-between;    
    max-width: 1400px;
}

.nav-links {
    display: flex;
    padding: 10px 50px 50px 50px;
    gap: 68px;
    list-style: none;
    margin-top: 0px;
}

.nav-links a:hover {
    cursor: pointer;
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

.nav-links a{
    text-decoration: none;
    color: #000000;
    padding-top: 15px ;
}    

#image{
    width: 61.09px;
    height: 19px;
    gap: 10px;
    margin: 30px 0px 30px 50px;
}


/* header-bot */
.header-bot {
    margin: 0px 50px 0px 50px;
    gap: 35px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

/* filtre-boutons */
.filtre {
    font-size: 18px;
}

.filtre-container {
    display: flex;
    gap: 15px;
    margin: 40px 0px 40px 0px;
}


.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 4px 19px 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius:100px ;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    
}

.buttons:hover {
    background-color: #deebff;
    
}

.info-container{
    display: flex;
    align-items: center;
    gap : 10px;
    cursor: pointer;
}

.buttons a {
    text-decoration: none;
    color: #000000;
}

.info-logo {
    border: 1px solid #D9D9D9;
    border-radius:50% 50% 50% 50%;
    padding: 4px 9px;
    width: 5px;
    height: auto;
}

.bouton-search {
    background-color:#0065fc ;
    width: 130px;
    height: 52px;
    border: none;
    color: #ffffff;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #0065fc;
}

.bouton-search:hover {
    background-color: #deebff;
    border: 1px solid #deebff;
    color: #0065fc;
}

.search-container {
    display: flex;
    height: 49px;
    align-items: center;
    font-size: 18px;
    margin-top: 40px;
    
}

.ping-logo {
    display: flex;
    background-color: #F2F2F2 ;
    width: 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    padding: 0px 20px 0px 20px;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    
}

.search-bar {
   display: flex;
   border: 1px solid #F2F2F2;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;   
}

.search-bar input{
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    width: 190px;
}

main {
    margin: 50px 50px 0px 50px;
}



.hebergements {
    display: flex ;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 0px 30px 0px 30px;
    width: 811px;
    height: 615px;
    flex-wrap: wrap;
}

.hebergements-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    
}

.hebergements-title {
    padding-top: 10px;
    height: 26px;
}



.afficher-plus {
    padding-bottom: 0px;
   
    height: 21px;
    margin-bottom: -20px;
}

.afficher-plus a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    height: 210px;
    width: 250px;
}

.card:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.img-card {
    border-radius: 20px 20px 0px 0px;
    padding: 5px 5px 0px 5px;
    height: 125px;
    width: 240px;
}

.card-content {
    padding: 0px 0px 0px 10px;
    text-decoration: none;
    width: 230px;
    height: 70px; 
} 

.card-txt {
    color: #000000;
   
}

.card-title {
    font-size:16px ;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    margin-top: 5px;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: -10px;
}

.card-rating {
    margin-top: -10px;
}

.populaires {
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 0px 30px 0px 0px;
    width: 400px;
    height: 615px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hebergements-and-populaires {
    display: flex;
    align-items: center;
    gap: 40px;
}

.cardt {
    display: flex;
    width: 370px;
    height: 145px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 30px;
}

.cardt:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.section-title {
    padding: 10px 0px 0px 30px;
}

.img-cardt {
   width: 123px;
   height: 135px;
    border-radius: 20px 0px 0px 20px;
    padding: 5px 0px 5px 5px;
    flex-wrap: wrap;
}

.Activités {
    width: 1340px;
    height: 560px;
    margin: 35px 0px 35px 0px;
}

.activités-card {
    display: flex;
    justify-content: space-evenly;

}

.carda {
    width: 297px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #f2f2f2;
    gap:30px;
}

.carda:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.img-carda{
    width: 297px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.card-title2{   
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    padding: 0px 19px 0px 19px;
    list-style: none;
}

.footer {
    background-color: #F2F2F2;
    display: flex;
    margin: 0px 50px 0px 50px;
    gap: 250px;
    height: 163px;
    width: 1340px;
}

.list {
    padding-left: 20px;
}

.list a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}


.liste-cards {
    border: 1px solid #fc0015;
    
}

.footer-a {
    padding-bottom: 15px;
}

.card-content-pop {
    padding: 0px 0px 10px 15px;
    text-decoration: none;
    width: 230px;
    height: 129px;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.card-txt-pop {
    color: #000000;
    margin-bottom: 50px;
    height: 80px;
}

.card-title-pop {
    font-size:16px ;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
}

.card-subtitle-pop {
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
}

.populaires-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -20px;
}

.card-rating- {
    margin-top: -20px;
}