body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.main-container {
    max-width: 1440px;
}
.fa-solid {
    color: var(--main-color);
}
/* header */
/* navigation */
nav {
    display: flex;
    justify-content: space-between;    
    max-width: 100%;
}

.nav-links {
    display: flex;
    padding: 10px 0px 50px 0px;
    gap: 68px;
    list-style: none;
    margin-top: 0px;
}

.nav-links a:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

.nav-links a{
    text-decoration: none;
    color: #000000;
    padding-top: 15px ;
}    

#image{
    width: 61.09px;
    height: 19px;
    gap: 10px;
    margin-top: 20px;
}


/* header-bot */
.header-bot {
    margin: 0px 0px 0px 0px;
    gap: 35px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

/* filtre-boutons */
.filtre {
    font-size: 18px;
}

.filtre-container {
    display: flex;
    gap: 15px;
    margin: 40px 0px 40px 0px;
}


.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 4px 19px 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius:100px ;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    
}

.buttons:hover {
    background-color: #deebff;
    
}

.info-container{
    display: flex;
    align-items: center;
    gap : 10px;
    cursor: pointer;
}

.buttons a {
    text-decoration: none;
    color: #000000;
}

.info-logo {
    border: 1px solid #D9D9D9;
    border-radius:50% 50% 50% 50%;
    padding: 4px 9px;
    width: 5px;
    height: auto;
}

.bouton-search {
    background-color:#0065fc ;
    width: 130px;
    height: 52px;
    border: none;
    color: #ffffff;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #0065fc;
}

.bouton-search:hover {
    background-color: #deebff;
    border: 1px solid #deebff;
    color: #0065fc;
}

.search-container {
    display: flex;
    height: 49px;
    align-items: center;
    font-size: 18px;
    margin-top: 40px;
    
}

.ping-logo {
    display: flex;
    background-color: #F2F2F2 ;
    width: 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    padding: 0px 20px 0px 20px;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    
}

.search-bar {
   display: flex;
   border: 1px solid #F2F2F2;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;   
}

.search-bar input{
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    width: 190px;
}

main {
    margin: 50px 0px 0px 0px;
}



.hebergements {
    display: flex ;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 871px;
    height: 615px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hebergements-title {
    padding-top: 10px;
    padding-left: 30px;
    height: 26px;
}



.afficher-plus {
    padding-bottom: 0px;
   padding-left: 30px;
    height: 21px;
    margin-bottom: -20px;
}

.afficher-plus a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    height: 208px;
    width: 250px;
}

.card:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.img-card {
    border-radius: 20px 20px 0px 0px;
    padding: 5px 5px 0px 5px;
    height: 125px;
    width: 96%;
    object-fit: cover;
}

.card-content {
    padding: 0px 0px 0px 10px;
    text-decoration: none;
    width: 230px;
    height: 70px; 
} 

.card-txt {
    color: #000000;
   
}

.card-title {
    font-size:16px ;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    margin-top: 5px;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: -10px;
}

.card-rating {
    margin-top: -10px;
}

.populaires {
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 429px;
    height: 614px;
}

.populaires-cards {
    
    height: 530px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    margin-top: -10px;
}


.hebergements-and-populaires {
    display: flex;
    gap: 40px;
}



.cardt {
    display: flex;
    width: 370px;
    height: 145px;
    border-radius: 20px;
    background-color: #ffffff;
    
}

.cardt:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.img-cardt {
   width: 123px;
   height: 135px;
    border-radius: 20px 0px 0px 20px;
    padding: 5px 0px 5px 5px;
    flex-wrap: wrap;
    object-fit: cover;
}

.Activités {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
}

.activités-title {
    padding-left: 30px;
    padding-bottom: 10px;
}

.activités-card {
    display: flex;
    justify-content: space-evenly;
}

.carda {
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #f2f2f2;
}

.carda:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.img-carda{
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    flex-grow: 1;
}

.card-title2{   
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    padding: 0px 19px 0px 19px;
    list-style: none;
}

.footer {
    background-color: #F2F2F2;
    display: flex;
    height: 163px;
    width:100%;
    justify-content: space-between;
    margin-top: 30px;
}

.list {
    padding-left: 20px;
    width: 100%;
}

.list a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}


.liste-cards {
    border: 1px solid #fc0015;
    
}

.footer-a {
    padding-bottom: 15px;
}

.card-content-pop {
    padding: 0px 0px 10px 10px;
    text-decoration: none;
    width: 230px;
    height: 129px;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.card-txt-pop {
    color: #000000;
    margin-bottom: 50px;
    height: 80px;
}

.card-title-pop {
    font-size:16px ;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
}

.card-subtitle-pop {
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
}

.populaires-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 0px 30px;
    margin: 0px;

}

.card-rating- {
    margin-top: -20px;
}

@media screen and (min-width: 1440px) {
    body {
        display: flex;
        justify-content: center;
    }
    
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .hebergements-and-populaires {
       display: flex;
       flex-direction: column;
    }
    body {
        width: 1024px;
    }
    .carda {
        width:193.5px ;
        height: 270px;
    }
    .img-carda{
        width: 193.5px;
        height: 200px;
    }
    .populaires-cards {
        display: flex ;
        height: 180px;
        flex-wrap: wrap;
    }
    .populaires {
        width: 924px;
        height: 250px;
    }
    .cardt {
        width: 274px;
        height: 146px;
    }
    .hebergements {
        width: 924px;
        height: 611px;
    }
    .card {
        width: 268px;
        height: 208px;
    }
    .img-cardt {
        width: 92px;
        height: 136px;
    }
 }

 @media screen and (max-width: 768px) {
    body{
        width: 375px;
    }
    .hebergements-and-populaires {
        display: flex;
        flex-direction:column-reverse;
    }
    .populaires {
        width: 375px;
        height: 569px;
        border-radius: 0px;
    }
    .cardt {
        width: 335px;
        height: 146px;
    }
    .populaires-cards {
        height: 500px;
        padding-left: 20px;
        margin-top: -15px;
    }
    nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 375px;
        height: 115px;
        align-items: center;
    }
    .nav-links{
        width: 100%;
        gap : 0px;
    }
    .nav-links li:hover {
        border-bottom: #0065fc 2px solid;
        padding-bottom: 10px;
    }
    .nav-links a:hover{
        border-top: none;
    }
    .nav-links li {
       width: 100%;
        padding-bottom: 15px;
        text-align: center;
    }
    h1 {
        max-width: 375px;
       margin-top: 30px;
    }
    .bouton-search {
        width: 49px;
        color: #fc2600;
        
    }
    .filtre-container {
       width: 380px;
       flex-wrap: wrap;
    }
    .filtre {
        padding-right: 150px;
    }
    .buttons {
        height: 50px;
        width: 140px;
    }
    .info-container {
        width: 375px;
        flex-wrap: wrap;
    }
    .hebergements {
        width: 375px;
        height: 1440px;
        flex-wrap: wrap;
        background-color: #ffffff;
        margin-top: -20px;
    }
    .card {
        box-shadow: rgba(52, 51, 51, 0.24) 0px 3px 8px;
        width: 335px;
        height: 208px;
    }
    .afficher-plus {
       margin-top: 10px;
    }
    .hebergements-title {
       padding-top: 0px;
    }
    .Activités {
        width: 375px;
        height: 100%;
        flex-wrap: wrap;
        
    }
    .activités-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 20px;
        
    }
    .carda {
        width: 315px;
        height: 200px;
        box-shadow: rgba(52, 51, 51, 0.24) 0px 3px 8px;
    }
    .img-carda {
        width: 315px;
        height: 141px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .search-bar{
        width: 100%;
        
    }
    .info-container {
        border: #fc0015 1px solid;
        height: 55px;
        flex-wrap: wrap;
    }
    .hebergements-cards {
        gap: 10px;
    }

 }